@import './variables';

@mixin btn-grey {
  background: $lightgrey;
  color: $black19;
  &:hover {
    background: lighten($color: $lightgrey, $amount: 5);
  }
}

@mixin btn-red {
  background: indianred;
  color: #fff;
  &:hover {
    // background: darken($color: indianred, $amount: 20);
    background: lighten($color: indianred, $amount: 5);
  }
}